a {
    color: #7A3836;
}

body
{
    background-color: #F7C1C0;
    color: #5D3938;
}

.center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-link {
  background: none!important;
  border: none;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  text-decoration: none;
  cursor: pointer;
}