a {
    color: #7A3836;
}

body
{
    background-color: #F7C1C0;
    color: #5D3938;
}

.center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-link {
  background: none!important;
  border: none;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  text-decoration: none;
  cursor: pointer;
}

.navbar
{
    background-color: #7A3836 !important;
    color: white !important;
}

.navbar a
{
    color: white !important;
}

#logout-form-item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 5px 5px;
}

.btn-link
{
    color: white !important;
}