{% extends "template.html" %}

{% block body %}
    <div class="container">
        <h1 class="text-center">FFLogs VOD Sync</h1>
    </div>
    Sign-in with Google
          <div id="g_id_onload"
         data-client_id="{{ google_client_id }}"
         data-login_uri="{{ host_url }}"
         data-auto_prompt="true">
      </div>
      <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
      </div>

{% endblock %}

{% block scripts %}
      <script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}