{% extends "templatemain.html" %}

{% block head %}
    <link rel="stylesheet" href="{{  url_for('static', filename='report.css') }}">
{% endblock %}

{% block content %}
<!-- Modals -->
<div class="modal fade" id="overrideStartModal" tabindex="-1" aria-labelledby="overrideModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="overrideModalLabel">Confirm Override</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        By confirming the override, the current timestamp of your video player will be stored as the start time of the active pull.
        This functionality is only intended if your official stream publish date is offset from the actual start time of your stream.
        To reset the sync between your stream and the report, you will need to reload the video into the stream overview.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No thanks.</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="overrideCurrentStarttime()">
        Yes, Override.
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateUnknownModal" tabindex="-1" aria-labelledby="updateUnknownLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateUnknownLabel">Confirm Update With Unknown Encounters</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Updating the log with unknown encounters will pull and display all fight and death data for encounters
        which are not assigned an specific encounter ID. This may be helpful if a fight has not been assigned
        an encounter ID by FFLogs yet or if you want to sync streams according to trash pulls. However, if your name is
        Miyuki Unryuu and you do 30 S-rank hunts before the raid then this will spam the log and kill the API rate so
        please act responsibly thank you.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No thanks.</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="updateLogWithUnknown()">
        Update with Unknown
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="importStreamModal" tabindex="-1" aria-labelledby="importStreamLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importStreamLabel">Import / Export Stream List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea id="import-streams" class="form-control" rows="3" placeholder="Use the export streams button to put data here, or paste an existing string."></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="setStreamListImportString()">
        Export Current Streams
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="importStreamList()">
        Import String
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
    <h3>Report Info</h3>
    <h5><strong>Report:</strong> {{ title }}</h5>
    <p>This report runs from <strong>{{ start_time }}</strong> until <strong>{{ end_time }}</strong>.<br />
    <span id="pullno"></span><br/>
    <span id="lastupdate"></span>
    <p/>
    <button class="btn btn-primary me-2" onclick="updateLog()">Update Log</button>
    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#updateUnknownModal">
        Update Log With Unknown Encounters
    </button>
    <button type="button" class="btn btn-danger btn-stream-control" data-bs-toggle="modal" data-bs-target="#importStreamModal">
        Import Stream List
    </button>
    <p>
    <small>
        You may update the log once every 2 minutes to scan for new pulls. If you or anyone else has updated this log
        within the last 2 minutes, pressing this button will fetch the newest version from the database, but will not
        query FFLogs. Updating the log will leave your stream view intact.
    </small>
    </p>

    <h3>Stream Overview</h3>
    <div class="row">
        <div class="col-md-6 col-12">
            <form id=twitchvod_form" onsubmit="return false;">
                <div class="mb-3">
                    <label class="form-label">Add Twitch VOD or Stream</label>
                    <input type="text" id="twitch_vod" placeholder="Twitch Video ID" class="form-control"/>
                </div>
                <button class="btn btn-primary" onclick="submitTwitchVod()">Add Twitch Video</button>
            </form>
        </div>
        <div class="col-md-6 col">
            <form id=ytvod_form" onsubmit="return false;">
                <div class="mb-3">
                    <label class="form-label">Add YouTube VOD or Stream</label>
                    <input type="text" id="youtube_vod" placeholder="YouTube Video ID" class="form-control"/>
                </div>
                <button onclick="submitYoutubeVod()" class="btn btn-primary">Add YouTube Video</button>
            </form>
        </div>
    </div>

    <h3 class="mt-4">Stream List</h3>
    <div id="streams" class="row">
        <p>Loaded VODs will appear here.</p>
    </div>

    <h3 class="mt-4">Stream View</h3>
    <div class="row">
        <div id="main_stream" class="col-8">
            <p id="main-stream-warning">The main selected stream will appear here.</p>
        </div>
        <div id="streamcontrol" class="col-4 card p-3">
                <h4>Stream Control</h4>
                <p>
                    <h6 class="card-title" id="active-fightid"></h6>
                    <p class="card-text">
                        <strong id="active-fightname"></strong></br>
                        <span id="active-start"></span> to <span id="active-end"></span> <span id="active-pulltime"></span><br />
                        <strong>Duration: </strong><span id="active-duration"></span>

                    </p>
                </p>
                <div class="d-flex">
                    <button id="active-startbtn" class="btn btn-primary me-2 btn-stream-control">Jump to Start</button>
                    <button id="active-endbtn" class="btn btn-primary me-2 btn-stream-control">Jump to End</button>
                </div>
                <div class="d-flex mt-2">
                    <button class="btn btn-primary me-2 btn-stream-control" onclick="storeCustom()">Store Custom Offset</button>
                    <button class="btn btn-primary me-2 btn-stream-control" onclick="loadCustom()">Jump to Custom</button>
                </div>
                <div class="d-flex mt-2">
                    <input id="customtimestamp" class="form-control input-custom-timestamp me-2" type="number" />
                    <button type="button" class="btn btn-danger btn-stream-control" data-bs-toggle="modal" data-bs-target="#overrideStartModal">
                    Override Pull Start
                    </button>
                </div>

                <h5 class="mt-3">Pull-Specific Events</h5>
                <small>Deaths up to 10 seconds before the recorded wipe time are discarded.</small>
                <div id="deaths" class="mt-3">
            </div>
        </div>
    </div>

    <h3 class="mt-4">Report Overview</h3>
        <div id="fights" class="row">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://player.twitch.tv/js/embed/v1.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/duration.js"></script>
    <script>
    dayjs.extend(window.dayjs_plugin_relativeTime)
    dayjs.extend(window.dayjs_plugin_duration)

    let videos = {}
    let current_player = null
    let current_start = null
    let current_pull_start = null
    let current_video_id = null
    let encounternames = null
    let pulldata = null
    const start_epoch = parseFloat({{ start_epoch }})

    function onYouTubeIframeAPIReady() {}

    function loadLog(json_data)
    {
        encounternames = json_data["encounternames"]
        pulldata = json_data
        updateFights(json_data["fights"])
        updateLastUpdatedTimer()
    }

    function updateLastUpdatedTimer()
    {
        if(pulldata && "loaded_at" in pulldata)
        {
            $("#lastupdate").html(`Last updated ${dayjs(pulldata["loaded_at"] * 1000).fromNow()} at ${dayjs(pulldata["loaded_at"] * 1000).format()}`)
        }
    }

    function updateFights(fights)
    {
        let fighthtml = "";
        for (let i=0;i<fights.length;i++)
        {
            fighthtml += getFightHTML(fights[i])
        }
        $("#fights").html(fighthtml)
        $("#pullno").html(`It contains ${fights.length} pulls.`)
    }

    function getFightHTML(fight)
    {
        return `<div class="col-3 col-xl-2 p-1 pull" onclick="makeActive(${fight["id"]})">
            <div id="pull-${fight["id"]}" class="card m-1">
              <div class="card-body">
                <small class="card-title">Fight ${fight["id"]}</small>
                <p class="card-text">
                    <strong>${encounternames[fight["encounterID"]]}</strong></br>
                    ${fight["timestampStart"]} (${dayjs.duration(fight["endTime"] - fight["startTime"]).format('mm:ss')})
                </p>
              </div>
            </div>
        </div>`
    }

    function getDeathHTML(pull_start, death, player_data)
    {
        return `<a class="deathlink me-2" href="javascript:jumpTo(${death['timestamp']})"><strong class="me-1">Death (${player_data[death["targetID"]]["name"]}) </strong> at ${dayjs.duration(death["timestamp"] - pull_start).format('mm:ss')}</a></br>`
    }

    function submitTwitchVod()
    {
        let input_element = $("#twitch_vod")
        let vid_id = input_element.val();
        input_element.val("")
        if(vid_id in videos) return;
        addTwitchStream(vid_id)
    }

    function addTwitchStream(id, timestamp=-1)
    {
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'json',
            url: "/ajax/twitch/vod?id=" + id,
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                let d = new Date(msg['created_at']);
                videos[msg['id']] = {
                    'timestamp': d.getTime()/1000,
                    'player': "twitch"
                }

                if(timestamp !== -1)
                {
                    videos[msg['id']]["timestamp"] = timestamp
                }

                let newNode = document.createElement('div')
                newNode.setAttribute("id", "stream" + msg['id'])
                newNode.setAttribute("class", "twitch col-4 col-lg-3")
                newNode.innerHTML = getStreamHTML(msg['id'], msg['username'], d, "twitch")
                $('#streams').append(newNode);
            }
         });
    }

    function submitYoutubeVod()
    {
        let input_element = $('#youtube_vod')
        let vid_id = input_element.val();
        input_element.val("")
        if(vid_id in videos) return;
        addYoutubeStream(vid_id)
    }

    function addYoutubeStream(id, timestamp=-1)
    {
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'json',
            url: "/ajax/youtube/vod?id=" + id,
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                let d = new Date(msg['created_at']);
                videos[msg['id']] = {
                    'timestamp': d.getTime()/1000,
                    'player': "youtube"
                }

                if(timestamp !== -1)
                {
                    videos[msg['id']]["timestamp"] = timestamp
                }

                let newNode = document.createElement('div')
                newNode.setAttribute("id", "stream" + msg['id'])
                newNode.setAttribute("class", "youtube col-4 col-lg-3")
                newNode.innerHTML = getStreamHTML(msg['id'], msg['username'], d, "youtube")
                $('#streams').append(newNode);
            }
         });
    }

    function jumpTo(timestamp)
    {
        if(current_player == null)
            return

        let timer = (start_epoch + timestamp)/1000 - 12;

        if(current_player.constructor.name === "r")
        {
            //twitch player. don't ask me why.
            current_player.seek(timer - current_start)
        }
        else
        {
            current_player.seekTo(timer - current_start)
        }

        document.getElementById("main_stream").scrollIntoView();
    }

    function makeActive(id)
    {
        let pull = pulldata["fights"].find(element => element["id"] === id)
        if(!pull)
            return
        let deaths = pulldata["deaths"].filter(element => element["timestamp"] > pull["startTime"] && element["timestamp"] < pull["endTime"] - 10000)

        Array.from(document.querySelectorAll('.pull-active')).forEach((el) => el.classList.remove('pull-active'));
        $(`#pull-${id}`).addClass("pull-active")

        $("#active-fightid").html(`Fight ${pull["id"]}`)
        $("#active-fightname").html(encounternames[parseInt(pull["encounterID"])])
        $("#active-start").html(pull["timestampStart"])
        $("#active-end").html(pull["timestampEnd"])
        $("#active-duration").html(dayjs.duration(pull["endTime"] - pull["startTime"]).format('mm:ss'))

        let deathhtml = ""
        for (let i=0;i<deaths.length;i++)
        {
            deathhtml += getDeathHTML(pull["startTime"], deaths[i], pulldata["player_data"])
        }
        $("#deaths").html(deathhtml)

        $("#active-startbtn").click(function() { jumpTo(pull["startTime"]) })
        $("#active-endbtn").click(function() { jumpTo(pull["endTime"]) })
        current_pull_start = pull["startTime"]

        document.getElementById("streamcontrol").scrollIntoView();
    }

    function makeStreamPrimary(id)
    {
        if(!(id in videos))
            return;

        $("#main-stream-warning").hide()

        let start_seconds = 0
        //if we already have a player
        if(current_player)
        {
            //get the current real time of the player so we can sync it to the new player
            start_seconds = current_player.getCurrentTime() + current_start - videos[id]['timestamp']
            //pause the current player
            if(current_player.constructor.name === "r")
            {
                current_player.pause()
            }
            else
            {
                current_player.pauseVideo()
            }
            //hide the current player
            $(`#player-${current_video_id}`).hide()
        }

        //set the current video id and start variables
        current_video_id = id
        current_start = videos[id]['timestamp']

        //create a new player if we don't have one yet
        if(!("player_element" in videos[id]))
        {
            jQuery('<div>', {
                id: `player-${id}`,
                class: 'stream',
            }).appendTo('#main_stream');

            if(videos[id]['player'] === "twitch")
            {
                    var options = {
                        width: "100%",
                        height: "100%",
                        video: id,
                        time: dayjs.duration(start_seconds*1000).format('HH[h]mm[m]ss[s]')
                    };
                    current_player = new Twitch.Player(`player-${id}`, options);
                    videos[id]['player_element'] = current_player
            }
            else
            {
                $(`#player-${id}`).html(`<div id="yt_embed_${id}" class="yt_embed"></div>`)
                current_player = new YT.Player(`yt_embed_${id}`, {
                          videoId: id,
                          playerVars: {
                            'playsinline': 1,
                            'autoplay': 1,
                            'start': Math.round(start_seconds),
                          },
                        });
                videos[id]['player_element'] = current_player
            }
        }
        else
        {
            //if we already have a player, just show it and play the video
            $(`#player-${id}`).show()
            current_player = videos[id]['player_element']
            if(videos[id]['player'] === "twitch")
            {
                current_player.seek(start_seconds)
                current_player.play()
            }
            else
            {
                current_player.seekTo(start_seconds)
                current_player.playVideo()
            }
        }
    }

    function removeStream(id)
    {
        if(!(id in videos))
            return;

        //remove the stream element
        $(`#stream${id}`).remove()
        //remove the player element
        $(`#player-${id}`).remove()

        delete videos[id];

    }

    function getStreamHTML(id, stream_name, creation_date, platform)
    {
        return `
        <div class="card my-2 stream">
          <div class="card-body d-flex justify-content-between flex-column">
              <div class="d-flex justify-content-between">
                    <h5 class="card-title d-inline">${stream_name}</h5> <img src="/static/${platform}.png" width="32" height="32">
              </div>
              <p>VOD created at ${creation_date}</p>
            <button class="btn btn-primary mb-1" onClick="makeStreamPrimary('${id}')">Make Primary</button>
            <button class="btn btn-danger" onClick="removeStream('${id}')">Remove Stream</button>
          </div>
        </div>`
    }

    function overrideCurrentStarttime()
    {
        if(current_player && current_video_id in videos)
        {
            let expected = (start_epoch + current_pull_start)/1000
            let real = current_start + current_player.getCurrentTime()

            current_start = current_start + (expected - real)
            videos[current_video_id]["timestamp"] = current_start
        }
    }

    function storeCustom()
    {
        if(current_player && current_video_id in videos)
        {
            let pullstart = (start_epoch + current_pull_start)/1000
            let current = current_start + current_player.getCurrentTime()

            $("#customtimestamp").val(Math.round(current-pullstart))
        }
    }

    function loadCustom()
    {
        let offset = parseInt($("#customtimestamp").val())
        jumpTo(current_pull_start + (offset+12)*1000)
    }

    function updateLog()
    {
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'json',
            url: "/ajax/fflogs/report?code={{ code }}&update=True",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                loadLog(msg)
            }
        })
    }

    function updateLogWithUnknown()
    {
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'json',
            url: "/ajax/fflogs/report?code={{ code }}&update=True&unknown=True",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                loadLog(msg)
            }
        })
    }

    function setStreamListImportString()
    {
        $("#import-streams").val(JSON.stringify(videos))
    }

    function importStreamList()
    {
        let videolist = JSON.parse($("#import-streams").val())
        for (const [key, value] of Object.entries(videolist))
        {
            if(!(key in videos))
            {
                if(value["player"] === "youtube")
                {
                    addYoutubeStream(key, value["timestamp"])
                }
                else if(value["player"] === "twitch")
                {
                    addTwitchStream(key, value["timestamp"])
                }
            }
        }
    }
    </script>
    <script>
        loadLog(JSON.parse("{{ data|safe }}"))

        setInterval(function() {
          updateLastUpdatedTimer()
        }, 30000);
    </script>

{% endblock %}