{% extends "templatemain.html" %}

{% block head %}
    <link rel="stylesheet" href="{{  url_for('static', filename='report.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3>Report Info</h3>
    <h5><strong>Report:</strong> {{ title }}</h5>
    <p>This report runs from <strong>{{ start_time }}</strong> until <strong>{{ end_time }}</strong>.<br />
    <span id="pullno"></span>
    <p/>

    <h3>Stream Control</h3>
    <div class="row">
        <div class="col-md-6 col-12">
            <form id=twitchvod_form" onsubmit="return false;">
                <div class="mb-3">
                    <label class="form-label">Add Twitch VOD or Stream</label>
                    <input type="text" id="twitch_vod" placeholder="Twitch Video ID" class="form-control"/>
                </div>
                <button class="btn btn-primary" onclick="submitTwitchVod()">Add Twitch Video</button>
            </form>
        </div>
        <div class="col-md-6 col">
            <form id=ytvod_form" onsubmit="return false;">
                <div class="mb-3">
                    <label class="form-label">Add YouTube VOD or Stream</label>
                    <input type="text" id="youtube_vod" placeholder="YouTube Video ID" class="form-control"/>
                </div>
                <button onclick="submitYoutubeVod()" class="btn btn-primary">Add YouTube Video</button>
            </form>
        </div>
    </div>

    <h3 class="mt-4">Stream List</h3>
    <div id="streams" class="row">
        <p>Loaded VODs will appear here.</p>
    </div>

    <h3 class="mt-4">Stream View</h3>
    <div id="main_stream">
        <p>The main selected stream will appear here.</p>
    </div>

    <h3 class="mt-4">Report Control</h3>
        <div id="fights" class="row">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://player.twitch.tv/js/embed/v1.js"></script>
    <script src="https://www.youtube.com/iframe_api"></scripT>
    <script>
    videos = {}
    current_player = null
    current_start = null
    encounternames = null
    const start_epoch = parseFloat({{ start_epoch }})

    function onYouTubeIframeAPIReady() {}

    function loadInitialLog(json_data)
    {
        let data = JSON.parse(json_data)
        test = data
        encounternames = data["encounternames"]
        updateFights(data["fights"])

    }

    function updateFights(fights)
    {
        let fighthtml = "";
        for (let i=0;i<fights.length;i++)
        {
            fighthtml += getFightHTML(fights[i])
        }
        $("#fights").html(fighthtml)
        $("#pullno").html(`It contains ${fights.length} pulls.`)
    }

    function getFightHTML(fight)
    {
        return `<div class="col-6 col-lg-4">
            <div class="card my-2">
              <div class="card-body">
                <h5 class="card-title">Fight ${fight["id"]}</h5>
                <p class="card-text">
                    <strong>${encounternames[fight["encounterID"]]}</strong></br>
                    ${fight["timestampStart"]} to ${fight["timestampEnd"]}<br/>
                </p>
                <form onsubmit="showWipe(event)">
                    <input hidden type="text" name="wipe" value="${fight["endTime"]}">
                    <button class="btn btn-primary">Show Wipe</button>
                </form>
              </div>
            </div>
        </div>`
    }

    function submitTwitchVod()
    {
        let vid_id = $('#twitch_vod').val();
        if(vid_id in videos) return;
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'json',
            url: "/ajax/twitch/vod?id=" + vid_id,
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                let d = new Date(msg['created_at']);
                videos[msg['id']] = {
                    'timestamp': d.getTime()/1000,
                    'player': "twitch"
                }

                let newNode = document.createElement('div')
                newNode.setAttribute("id", "stream" + msg['id'])
                newNode.setAttribute("class", "twitch col-4 col-lg-3")
                newNode.innerHTML = getStreamHTML(msg['id'], msg['username'], d, "twitch")
                $('#streams').append(newNode);
            }
         });
    }

    function submitYoutubeVod()
    {
        let vid_id = $('#youtube_vod').val();
        if(vid_id in videos) return;
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'json',
            url: "/ajax/youtube/vod?id=" + vid_id,
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                let d = new Date(msg['created_at']);
                videos[msg['id']] = {
                    'timestamp': d.getTime()/1000,
                    'player': "youtube"
                }

                let newNode = document.createElement('div')
                newNode.setAttribute("id", "stream" + msg['id'])
                newNode.setAttribute("class", "youtube col-4 col-lg-3")
                newNode.innerHTML = getStreamHTML(msg['id'], msg['username'], d, "youtube")
                $('#streams').append(newNode);
            }
         });
    }

    function showWipe(event)
    {
        event.preventDefault();

        if(current_player == null)
            return

        let formData = new FormData(event.target);
        let timestamp = parseFloat(formData.get('wipe'))
        let pullWipe = (start_epoch + timestamp)/1000 - 10; //epoch timestamp (seconds) of 10 seconds before wipe

        if(current_player.constructor.name === "r")
        {
            //twitch player. don't ask me why.
            current_player.seek(pullWipe - current_start)
        }
        else
        {
            current_player.seekTo(pullWipe - current_start)
        }
    }

    function makeStreamPrimary(id)
    {
        if(!(id in videos))
            return;

        if(videos[id]['player'] === "twitch")
        {
                $("#main_stream").html("")
                var options = {
                    width: 1080,
                    height: 720,
                    video: id,
                };
                current_player = new Twitch.Player("main_stream", options);
                player.setVolume(0.5);
        }
        else
        {
            $("#main_stream").html("<div id=\"yt_embed\"></div>")
            current_player = new YT.Player('yt_embed', {
                      height: '720',
                      width: '1080',
                      videoId: id,
                      playerVars: {
                        'playsinline': 1,
                        'autoplay': 1
                      },
                    });

        }
        current_start = videos[id]['timestamp']
    }

    function removeStream(id)
    {
        if(!(id in videos))
            return;

        delete videos[id];

        $(`#stream${id}`).remove()

    }

    function getStreamHTML(id, stream_name, creation_date, platform)
    {
        return `
        <div class="card my-2 stream">
          <div class="card-body d-flex justify-content-between flex-column">
              <div class="d-flex justify-content-between">
                    <h5 class="card-title d-inline">${stream_name}</h5> <img src="/static/${platform}.png" width="32" height="32">
              </div>
              <p>VOD created at ${creation_date}</p>
            <button class="btn btn-primary mb-1" onClick="makeStreamPrimary('${id}')">Make Primary</button>
            <button class="btn btn-danger" onClick="removeStream('${id}')">Remove Stream</button>
          </div>
        </div>`
    }

    function updateLog()
    {
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'json',
            url: "/ajax/fflogs/report?code=",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                let d = new Date(msg['created_at']);
                videos[msg['id']] = {
                    'timestamp': d.getTime()/1000,
                    'player': "youtube"
                }
            }
        })
    }
    </script>
    <script>
        loadInitialLog("{{ data|safe }}")
    </script>

{% endblock %}