{% extends "templatemain.html" %}

{% block head %}
    <link rel="stylesheet" href="{{  url_for('static', filename='reports.css') }}">
{% endblock %}

{% block content %}
    <div id="report-wrapper">
        <div id="fflogs-url">
            <div>
                <h3>Enter FFLogs URL</h3>
                <p>Enter a full FFLogs URL or report code.</p>
            </div>
            <form action="/report/" method="GET">
                <div class="mb-3">
                    <label for="reportUrl" class="form-label">Report URL/Code</label>
                    <input id="reportUrl" type="text" name="code" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Open Report</button>
            </form>
        </div>
    </div>
{% endblock %}