{% extends "templatemain.html" %}

{% block content %}
    <div class="container mt-5">
        <h3>Stream View</h3>
        <div class="row">
            <div class="col-md-6 col-12">
                <form onsubmit="submitTwitchVod(event)" id=twitchvod_form">
                    <div class="mb-3">
                        <label class="form-label">Add Twitch VOD or Stream</label>
                        <input type="text" id="twitch_vod" placeholder="Twitch Video ID" class="form-control"/>
                    </div>
                    <button class="btn btn-primary">Add Twitch Video</button>
                </form>
            </div>
            <div class="col-md-6 col">
                <form onsubmit="submitTwitchVod(event)" id=twitchvod_form">
                    <div class="mb-3">
                        <label class="form-label">Add YouTube VOD or Stream</label>
                        <input type="text" id="twitch_vod" placeholder="YouTube Video ID" class="form-control"/>
                    </div>
                    <button class="btn btn-primary">Add YouTube Video</button>
                </form>
            </div>
        </div>

        <div id="streams" style="min-height:300px;display:flex;flex-direction:row;flex-wrap:wrap;">

        </div>

    <h3>Report Control</h3>
    <div>
        <h5>Report Info</h5>
    </div>
    <div>
        <strong>{{ title }}</strong>
        <p>This report runs from <strong>{{ start_time }}</strong> until <strong>{{ end_time }}</strong>.<br />
        It contains {{fights|length}} pulls.</p>
        <div class="row">
            {% for fight in fights %}
                {% if fight["encounterID"] != 0 %}
                    <div class="col-6 col-lg-4">
                        <div class="card my-2">
                          <div class="card-body">
                            <h5 class="card-title">Pull {{ loop.index }}</h5>
                            <p class="card-text">
                                <strong>{{encounternames[fight["encounterID"]|string]}}</strong></br>
                                {{fight["timestampStart"]}} to {{fight["timestampEnd"]}}<br/>
                            </p>
                            <form onsubmit="submitWipe(event)">
                                <input hidden type="text" name="wipe" value="{{fight["endTime"]}}">
                                <button class="btn btn-primary">Show Wipe</button>
                            </form>
                          </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
    <script>
    videolist = {}
    videonames = {}
    videoplayers = {}

    last_timestamp = null

    const start_epoch = parseFloat({{ start_epoch }})

    function submitTwitchVod(event)
    {
        event.preventDefault();
        let vid_id = $('#twitch_vod').val();
        if(vid_id in videolist) return;
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'json',
            url: "/ajax/twitch/vod?id=" + vid_id,
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                let d = new Date(msg['created_at']);
                videolist[msg['id']] = d.getTime();
                videonames[msg['id']] = msg['title'];

                let newNode = document.createElement('div')
                newNode.setAttribute("id", "stream" + msg['id'])
                $('#streams').append(newNode);

                var options = {
                    height: 300,
                    width: 500,
                    video: msg['id'],
                };
                var player = new Twitch.Player("stream" + msg['id'], options);
                player.setVolume(0.5);
                videoplayers[msg['id']] = player
            }
         });
    }

    function submitWipe(event)
    {
        event.preventDefault();
        let formData = new FormData(event.target);
        let timestamp = parseFloat(formData.get('wipe'))
        let pullWipe = (start_epoch + timestamp)/1000 - 10;

        Object.keys(videolist).forEach(id =>
        {
            videoplayers[id].seek((pullWipe - videolist[id]))
        });
    }
    </script>
{% endblock %}