{%  extends "template.html" %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">FFLogs VOD Sync</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Authorized Applications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reports">Analyze</a>
                    </li>
                    <li id="logout-form-item" class="nav-item">
                        <form action="/logout" method="POST">
                            <button class="btn-link">Logout</button>
                        </form>
                    </li>
                </ul>
                <div class="d-flex">
                    <span>Logged in as <strong>{{ username }}</strong></span>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
{% endblock %}